DESCRIPTION:
  title: "MockerDB API"
  description: |
    This is a crude implementation of a vector database-like solution in Python.
    Currently, its goal is to simplify use cases that require extensive use of open-source embeddings from [Sentence-Transformers](https://www.sbert.net/docs/pretrained_models.html),
    while being simple and flexible enough to add and test custom searching strategies.

    Use the underlying Python package from [pypi](https://pypi.org/project/mocker-db/).
    The docs of the specific version of `mocker-db` for this API can accessed via route `/mocker-db/docs`.

MIDDLEWARE:
  allow_origins:
    - "*"

RUN:
  host: "0.0.0.0"
  port: 8080